.App {
  text-align: center;
}
.container {
  width: 700px;
  margin: 50px auto;
  height: 600px;
}
.brand-logo span {
  vertical-align: top;
  font-size: 35px;
  font-weight: 400;
  margin: 0px 10px;
}
.brand-logo img {
  height: 40px;
}
.steps {
  display: flex;
  max-width: 350px;
  margin: 100px auto;
  justify-content: space-around;
}
.step1,.step2,.step3,.step4 { 
  color: black;
  display: flex;
  height: fit-content;
}
.progress-fill{
     margin: 20px 0px;
     border: 1px solid black;
     height: 0px;
     width: 40px;
}
.progress{
  margin: 20px 0px;
  border: 1px solid #dfe6e9;
  height: 0px;
  width: 40px;
}
.currentPageNumber-fill{
    background-color:#5A4AD1;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color:white
}
.currentPageNumber{
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color:black;
    border: 2px solid #dfe6e9;
}

@media screen and (max-width:468px) {
  .container{
    width: 100%;
  }
  .steps{
    width: 300px;
  }
  .progress,.progress-fill{
    width: 20px;
  }
}